<!DOCTYPE html>
<html>
  <head>
     <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <title>app</title>

         <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">

        <!-- Custom CSS -->
        <style>
            .copyright {
                border-top: 1px solid #ddd;
                margin-top: 30px;
                padding-top: 20px;
                color: #CCC;
                font-weight: lighter;
            }

            .copyright a {
                color: #8e8e8e;
            }
        </style>

        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/bootstrap-slider.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/bootstrap-slider.min.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/css/bootstrap-slider.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/css/bootstrap-slider.min.css">
    {% block head %}
    {% endblock %}
  </head>
  <body>
    {% block content %}
    {% endblock %}
    <footer>
        <div class="container">
            <div class="copyright">
                <div class="pull-left"><p>&copy; app</p></div>
                <div class="pull-right">
                    <a href="/tos">Terms</a> &bull;
                    <a href="/privacy">Privacy</a> &bull;
                    <a href="/contact">Contact</a>
                </div>
            </div>
        </div>
    </footer>

  </body>
</html>

