<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h1>Email confirmed!</h1>
<h4>Redirecting you to the main page...</h4>
<script>
    $(document).ready(function () {
    window.setTimeout(function () {
        location.href = "http://127.0.0.1:5000/";
    }, 5000);
});
</script>
</body>
</html>