{% extends "base.html" %}
{% import "wtf.html" as wtf %}

{% block content %}
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">app</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/marketplace">Marketplace</a></li>
                <li><p style="padding:8px 0 0 10px;"><a href="/signup"
                                                            class="btn btn-primary" style="color:#fff;">Sign Up For
                                Free</a></p></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
    <!-- /.container -->
</nav>


<div class="container">
  <div class="panel-header">
      <h2 class="text-center">Login</h2>
  </div>

    {% with alerts = get_flashed_messages() %}
        {% if alerts %}
            {% for alert in alerts %}
                {% if "Success" in alert %}
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                        <div class="alert alert-success">
                          {{ alert }}
                        </div>
                    </div>
                {% else %}
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                        <div class="alert alert-danger">
                          {{ alert }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}


  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <form class="form-signin" method="POST" action="/login">
          {{ q.hidden_tag() }}
          {{ wtf.form_field(q.email, horizontal_columns=('sm', 1, 5)) }}
          {{ wtf.form_field(q.password, horizontal_columns=('sm', 2, 10)) }}
          {{ wtf.form_field(q.remember) }}
          <div class="form-group">
             <button type="submit" class="btn btn-primary">Login</button>
          </div>
          <div>
              Forgot your password? <a href="#">Reset Password</a><br>
              Don't have an account? <a href="/signup">Sign Up</a>
      </div>
      </form>
  </div>
</div>
{% endblock %}
